
build/
.vs/
x64/
Release/
Debug/
CMakeFiles/
Testing/
*.exe
*.o
cmake-build-*
.idea
.vscode
cmake_install.cmake
CMakeCache.txt
Makefile
compile.bat
rabbitmq_stream_c_client
rabbitmq_stream_c_client.cbp
test
rabbitmq-stream-c-client.sln
rabbitmq-stream-c-client.vcxproj.*